<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">My Django Blog 2.0</a>
    </div>
    <div class='d-flex justify-content-end'>
        {% if request.user.is_authenticated %}
            <div class="dropdown me-5">

                <button class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >{{ request.user }}
                </button>

                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                    <li>
                        <a class="dropdown-item"
                           href="{% url 'accounts:profile_detail' request.user.profile.slug %}"
                        >Мой профиль</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           href="{% url 'blog:post_create' %}"
                        >Добавить статью
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form action="{% url 'accounts:logout' %}" method="POST">
                            {% csrf_token %}
                            <a href="#" class="dropdown-item" onclick="parentNode.submit();">Выход</a>
                        </form>
                    </li>
                </ul>

            </div>
        {% else %}
            <ul class="nav ">
                <li><a href="{% url 'accounts:register' %}" class="nav-link px-2 link-secondary">Регистрация</a></li>
                <li><a href="{% url 'accounts:login' %}" class="nav-link px-2 link-secondary">Вход</a></li>
            </ul>
        {% endif %}
    </div>
</nav>
